@using Microsoft.AspNetCore.Mvc.Localization
@using System.Text
@using SocialEmpires.Models.Bulletins
@using SocialEmpires.Models.PlayerSaves
@using Ganss.Xss;
@inject IViewLocalizer localizer
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = localizer["Bulletin"];
    var sanitizer = new HtmlSanitizer();
    var bulletins = ViewData["Bulletins"] as List<Bulletin>;
}

<div class="d-flex justify-content-center">
    <h3>@localizer["Bulletin"]</h3>
</div>

<div class="row justify-content-center">
    <div class="col-1">
    </div>
    <div class="col-8">
        <form asp-action="PublishBulletin" method="post">
            <div>
                <textarea id="tiny" name="htmlContent"></textarea>
            </div>
            <div class="d-flex justify-content-between align-items-center mt-3">
                    <input type="number" class="form-control" id="days" name="days" placeholder="0">@localizer["Days"]
                    <input type="number" class="form-control" id="hours" name="hours" placeholder="0">@localizer["Hours"]
                    <input type="number" class="form-control" id="minutes" name="minutes" placeholder="0">@localizer["Minutes"]
                    <input type="number" class="form-control" id="seconds" name="seconds" placeholder="0">@localizer["Seconds"]
                    <select class="form-select ms-3" name="language" aria-label="Default select example">
                        <option selected>@localizer["Language"]</option>
                        <option value="zh">简体中文</option>
                        <option value="en">English</option>
                    </select>
                    <button id="publishButton" type="submit" class="btn btn-primary ms-3">@localizer["Publish"]</button>
            </div>
        </form>
    </div>

    <div id="bulletinBoard" class="col-3">
        <ul class="list-group">
            @{
                foreach (var bulletin in bulletins)
                {
                    if(bulletin.HtmlContent.zh != null)
                    {
                        <li class="list-group-item">@Html.Raw(sanitizer.Sanitize(bulletin.HtmlContent.zh))</li>
                    }
                    else if (bulletin.HtmlContent.en != null)
                    {
                        <li class="list-group-item">@Html.Raw(sanitizer.Sanitize(bulletin.HtmlContent.en))</li>
                    }
                }
            }
        </ul>
        
    </div>
</div>

<script src="~/js/tinymce/tinymce.min.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script>
    const browserLanguage = navigator.language || navigator.userLanguage;

    tinymce.init({
        selector: 'textarea#tiny',
        promotion: false,
        branding: false,
        language: browserLanguage.replace("-", "_"),
        menubar: false,
        toolbar: 'styleselect | bold italic underline fontsize | forecolor backcolor | blocks alignleft aligncenter bullist numlist outdent indent | hr',
        forced_root_block: 'div'
    });

    var connection = new signalR.HubConnectionBuilder().withUrl("/BulletinHub").build();

    connection.start().then()
        .catch(function (err) {
            console.error(err.toString());
        });
</script>