@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using SocialEmpires.Services
@attribute [Authorize(Roles = "Admin")]
@inject ConfigFileService configFileService
@inject IViewLocalizer localizer
@{
    Layout = null;
    var id = Request.Query["id"][0] ?? "1";
    var item = configFileService.GetItem(id);
    if(item == null)
    {
        return;
    }
}

<div style="background-color:#FFFFFF;width:100%;">
    <form action="/api/admin/config/items/@item.Id" method="post">
        <div class="section">
            <img src="/default01.static.socialpointgames.com/static/socialempires/buildingthumbs/@(item.ImgName).jpg" width="60" height="60" />
            <div>
                
                <div>
                    <label for="type">Type:</label>
                    <input type="text" id="type" name="type" value="@item.Type" style="width:20px;">
                </div>
                <div>
                    <label for="id">ID:</label>
                    <input type="text" id="id" name="id" value="@item.Id" style="width:80px;">
                </div>
            </div>
            <div>
                <div>
                    <label for="name">Name_zh:</label>
                    <input type="text" id="name" name="name" value="@item.Name">
                </div>

                <div>
                    <label for="name">Name_en:</label>
                    <input type="text" id="name" name="name" value="@item.Name">
                </div>
            </div>
        </div>

        <span class="sectionName">Store</span>
        
        <div>
            <div class="section">
                <label for="in_store">In Store:</label>
                <input type="text" id="in_store" name="inStore" value="@item.InStore" style="width:20px;">

                <label for="cost">Cost:</label>
                <input type="text" id="cost" name="cost" value="@item.Cost" style="width:60px;">

                <label for="cost_type">Cost Type:</label>
                <input type="text" id="cost_type" name="costType" value="@item.CostType" style="width:20px;">

                <label for="display_order">Display Order:</label>
                <input type="text" id="display_order" name="displayOrder" value="@item.DisplayOrder" style="width:80px;">
            </div>
            <div class="section">
                <label for="giftable">Giftable:</label>
                <input type="text" id="giftable" name="giftable" value="@item.Giftable" style="width:20px;">

                <label for="gift_level">Gift Level:</label>
                <input type="text" id="gift_level" name="giftLevel" value="@item.GiftLevel" style="width:40px;">
            </div>name="
        </div>

        <span class="sectionName">Category</span>
        
        <div class="section">
            <label for="category_id">Category:</label>
            <input type="text" id="category_id" name="categoryId" value="@item.CategoryId" style="width:40px;">

            <label for="subcategory_id">Subcategory:</label>
            <input type="text" id="subcategory_id" name="subcategoryId" value="@item.SubcategoryId" style="width:80px;">

            <label for="subcat_functional">Functional:</label>
            <input type="text" id="subcat_functional" name="subcatFunctional" value="@item.SubcatFunctional" style="width:120px;">
        </div>
        
        <span class="sectionName">Gain</span>
        
        <div class="section">
            <label for="min_level">Min Level:</label>
            <input type="text" id="min_level" name="minLevel" value="@item.MinLevel">

            <label for="xp">XP:</label>
            <input type="text" id="xp" name="xp" value="@item.Xp" style="width:40px;">

            <label for="upgrades_to">Upgrade:</label>
            <input type="text" id="upgrades_to" name="upgradesTo" value="@item.UpgradesTo" style="width:80px;">
        </div>

        <span class="sectionName">Time</span>
        
        <div class="section">
            <label for="activation">Activation:</label>
            <input type="text" id="activation" name="activation" value="@item.Activation" style="width:120px;">

            <label for="expiration">Expiration:</label>
            <input type="text" id="expiration" name="expiration" value="@item.Expiration" style="width:120px;">
        </div>

        <span class="sectionName">Collect</span>
        
        <div class="section">
            <label for="collect">Collect:</label>
            <input type="text" id="collect" name="collect" value="@item.Collect" style="width:120px;">

            <label for="collect_type">Collect Type:</label>
            <input type="text" id="collect_type" name="collectType" value="@item.CollectType" style="width:20px;">

            <label for="collect_xp">Collect XP:</label>
            <input type="text" id="collect_xp" name="collectXp" value="@item.CollectXp" style="width:40px;">
        </div>

        <span class="sectionName">Size</span>
        
        <div class="section">
            <label for="width">Width:</label>
            <input type="text" id="width" name="width" value="@item.Width" style="width:40px;">

            <label for="height">Height:</label>
            <input type="text" id="height" name="height" value="@item.Height" style="width:40px;">

            <label for="size">Size:</label>
            <input type="text" id="size" name="size" value="@item.Size" style="width:40px;">
        </div>

        <span class="sectionName">Properties</span>
        
        <div class="section">
            <label for="attack">Attack:</label>
            <input type="text" id="attack" name="attack" value="@item.Attack" style="width:80px;">

            <label for="attack_range">Range:</label>
            <input type="text" id="attack_range" name="attackRange" value="@item.AttackRange" style="width:80px;">

            <label for="attack_interval">Interval:</label>
            <input type="text" id="attack_interval" name="attackInterval" value="@item.AttackInterval" style="width:80px;">
        </div>

        <div class="section">
            <label for="defense">Defense:</label>
            <input type="text" id="defense" name="defense" value="@item.Defense" style="width:20px;">

            <label for="life">Life:</label>
            <input type="text" id="life" name="life" value="@item.Life" style="width:80px;">

            <label for="velocity">Velocity:</label>
            <input type="text" id="velocity" name="velocity" value="@item.Velocity" style="width:80px;">

            <label for="potion">Potion:</label>
            <input type="text" id="potion" name="potion" value="@item.Potion" style="width:40px;">
        </div>

        <span class="sectionName">Unit</span>
        
        <div>
            <div class="section">
                <label for="trains">Trains:</label>
                <input type="text" id="trains" name="trains" value="@item.Trains" style="width:80px;">

                <label for="population">Population:</label>
                <input type="text" id="population" name="population" value="@item.Population" style="width:40px;">
            </div>
            <div class="section">
                <label for="cost_unit_cash">Cost Unit Cash:</label>
                <input type="text" id="cost_unit_cash" name="costUnitCash" value="@item.CostUnitCash" style="width:40px;">

                <label for="units_limit">Units Limit:</label>
                <input type="text" id="units_limit" name="unitsLimit" value="@item.UnitsLimit" style="width:40px;">
            </div>
        </div>
        

        <span class="sectionName">Achievement</span>
        
        <div class="section">
            <label for="achievement">Achievement:</label>
            <input type="text" id="achievement" name="achievement" value="@item.Achievement" style="width:20px;">

            <label for="achievement_desc">Description:</label>
            <input type="text" id="achievement_desc" name="achievementDesc" value="@item.AchievementDesc" style="width:200px;">
        </div>
        
        <span class="sectionName">Store</span>
        
        <div class="section">
            <label for="store_groups">Store Groups:</label>
            <input type="text" id="store_groups" name="storeGroups" value="@item.StoreGroups" style="width:40px;">

            <label for="store_level">Store Level:</label>
            <input type="text" id="store_level" name="storeLevel" value="@item.StoreLevel" style="width:40px;">
        </div>

        <span class="sectionName">Mobile</span>
        <div>
            <div class="section">
                <label for="show_on_mobile">Show on Mobile:</label>
                <input type="text" id="show_on_mobile" name="showOnMobile" value="@item.ShowOnMobile" style="width:20px;">

                <label for="show_on_mobile_store">Show on Mobile Store:</label>
                <input type="text" id="show_on_mobile_store" name="showOnMobileStore" value="@item.ShowOnMobileStore" style="width:20px;">
            </div>
            <div class="section">
                <label for="only_mobile">Only Mobile:</label>
                <input type="text" id="only_mobile" name="onlyMobile" value="@item.OnlyMobile" style="width:20px;">

                <label for="iphone_adjustments">iPhone Adjustments:</label>
                <input type="text" id="iphone_adjustments" name="iphoneAdjustments" value="@item.IphoneAdjustments" style="width:20px;">
            </div>
        </div>

        <div>
            <button type="submit" class="operation">Update</button>
        </div>

        <span class="sectionName">Chore</span>
        <div>
            <div class="section">
                <label for="race">Race:</label>
                <input type="text" id="race" name="race" value="@item.Race" style="width:40px;">

                <label for="flying">Flying:</label>
                <input type="text" id="flying" name="flying" value="@item.Flying" style="width:20px;">

                <label for="groups">Groups:</label>
                <input type="text" id="groups" name="groups" value="@item.Groups">
            </div>
            <div class="section">
                <label for="new_item">New Item:</label>
                <input type="text" id="new_item" name="newItem" value="@item.NewItem" style="width:20px;">

                <label for="protect">Protect:</label>
                <input type="text" id="protect" name="protect" value="@item.Protect" style="width:20px;">

                <label for="unit_capacity">Unit Capacity:</label>
                <input type="text" id="unit_capacity" name="unitCapacity" value="@item.UnitCapacity" style="width:40px;">
            </div>
            <div class="section">
                <label for="max_frame">Max Frame:</label>
                <input type="text" id="max_frame" name="maxFrame" value="@item.MaxFrame" style="width:40px;">

                <label for="img_name">Image</label>
                <input type="text" id="img_name" name="imgName" value="@item.ImgName" style="width:120px;">

                <label for="elevation">Elevation:</label>
                <input type="text" id="elevation" name="elevation" value="@item.Elevation" style="width:20px;">
            </div>
            
        </div>
    </form>
</div>

<style>
    .sectionName{
        font-size:14px;
        color:#808080;
    }

    .sectionName {
        display: flex;
        align-items: center;
        text-align: center;
        margin: 10px 0;
    }

    .sectionName::after {
        content: '';
        flex: 1;
        border-bottom: 1px solid #000;
    }

    .sectionName:not(:empty)::after {
        margin-left: .5em;
    }

    .section{
        display:flex;
        width:100%;
        margin-bottom:10px;
    }

    .operation{
        width:100%;
    }

    input{
        margin-right:10px;
    }
</style>