@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using SocialEmpires.Infrastructure.MultiLanguage
@using SocialEmpires.Models.Configs
@using SocialEmpires.Services
@using SocialEmpires.Utils
@using System.Text
@using System.Text.Json
@attribute [Authorize(Roles = "Admin")]
@inject IViewLocalizer localizer
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = localizer["OfferPacks"];
    var pageIndex = (int)ViewData["PageIndex"]!;
    var pageSize = (int)ViewData["PageSize"]!;
    var pageCount = (int)ViewData["PageCount"]!;
    var pageData = ViewData["PageData"] as IEnumerable<OfferPack>;

    var jsonOptions = new JsonSerializerOptions();
    jsonOptions.Converters.Add(new IntListOrIntListListConverter());
}

<div>
    <table width="100%" class="table table-striped  table-sm">
        <thead>
            <tr>
                <th>@localizer["Id"]</th>
                <th>@localizer["Position"]</th>
                <th>@localizer["CostCash"]</th>
                <th>@localizer["Resource"]</th>
                <th>@localizer["Items"]</th>
                <th>@localizer["PackType"]</th>
                <th>@localizer["Enabled"]</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var offerPack in pageData)
                {
                    <tr>
                        <td>@offerPack.Id</td>
                        <td>@offerPack.Position</td>
                        <td>@offerPack.CostCash</td>
                        <td>@($"g:{offerPack.Gold}, s:{offerPack.Stone}, f:{offerPack.Food}, w:{offerPack.Wood}, xp:{offerPack.Xp}")</td>
                        <td>@JsonSerializer.Serialize(offerPack.Items, jsonOptions)</td>
                        <td>@offerPack.PackType</td>
                        <td>@offerPack.Enabled</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<nav>
    <ul class="pagination justify-content-center">
        <li class="page-item @(pageIndex <= 1?"disabled":"")">
            <a class="page-link" href="?pageIndex=@(pageIndex - 1)&pageSize=@pageSize" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        @{
            var indexes = PageIndexesHelper.CalculatePageIndexes(pageIndex, pageCount, 11);
            foreach (var index in indexes)
            {
                <li class="page-item">
                    <a class="page-link" href="?pageIndex=@(index)&pageSize=@pageSize">@(index)</a>
                </li>
            }
        }
        <li class="page-item @(pageIndex >= pageCount?"disabled":"")">
            <a class="page-link" href="?pageIndex=@(pageIndex + 1)&pageSize=@pageSize" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>