@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject IViewLocalizer localizer
@inject IStringLocalizer<GlobalLocalizer> global
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @global["Manager"] - @global["SocialEmpires"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SocialEmpires.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" href="/">@global["SocialEmpires"]</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-action="Items">@localizer["Items"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-action="Players">@localizer["Players"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-action="Bulletin">@localizer["Bulletin"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-action="OfferPacks">@localizer["OfferPacks"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-action="DartsItems">@localizer["DartsItems"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-action="Gift">@localizer["Gift"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-action="GlobalSettings">@localizer["GlobalSettings"]</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        @{
                            Html.RenderPartial("_User");
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>