@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = localizer["Register"];
}
<body>
    <div style="max-width:400px;margin:auto;">
        <form asp-action="SendEmailConfirmationEmail" method="post">
            <label>@localizer["EmailAddress"]</label>
            <div class="input-group">
                <input type="email" class="form-control" name="email" value="@ViewData["Email"]"/>
                <button id="SendEmailButton" class="btn btn-primary" type="submit" disabled>@localizer["SendAuthCode"]</button>
            </div>
        </form>
        <form asp-action="Register" method="post">
            <div class="form-group">
                <label>@localizer["Code"]</label>
                <input type="text" class="form-control" name="code" value="@ViewData["Code"]" />
            </div>
            <div class="form-group">
                <label>@localizer["Password"]</label>
                <input type="password" class="form-control" name="password" />
            </div>
            <button type="submit" class="btn btn-primary" style="width:100%;margin-top:20px;">@localizer["Register"]</button>
        </form>
        @if (ViewData["ErrorMessage"] != null)
        {
            <p>@localizer[ViewData["ErrorMessage"].ToString()]</p>
        }
    </div>

    <script>
        var button = document.getElementById("SendEmailButton");

        if (@(ViewData["SendingInterval"]??"null") == null) {
            button.textContent = "@localizer["SendAuthCode"]";
            button.disabled = false;
        }else{
            function countdown() {
                if (countdownValue > 0) {
                    countdownValue--;
                    button.textContent = "Wait " + countdownValue + "s";
                }
                else {
                    button.disabled = false;
                    button.textContent = "Send";
                    clearInterval(timer);
                }
            }
            var countdownValue = @(ViewData["SendingInterval"]??0);
            var timer = setInterval(countdown, 1000);
        }
    </script>
</body>
