@page
@using SocialEmpires.Services
@inject ConfigFileService configFileService
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@{
    var pageIndex = int.Parse(Request.Query["pageIndex"][0]);
    var pageSize = int.Parse(Request.Query["pageSize"][0]);
    var (pageCount,data) = await configFileService.GetItemsAsync(pageIndex, pageSize);
}

    
<table>
    <thead>
        <tr>
            <th>@localizer["Name"]</th>
            <th>@localizer["Type"]</th>
            <th>@localizer["Size"]</th>
            <th>@localizer["Operation"]</th>
        </tr>
    </thead>
    <tbody>
        @{
            if(data == null)
            {
                return;
            }
            foreach (var item in data)
            {
                <tr>
                    <td>
                    <input type="text" value="@item.Name" onclick="changeName()" />
                        
                    </td>
                    <td>@item.Type</td>
                    <td>@item.Width * @item.Height</td>
                    <td><button onclick="changeName()">@localizer["Edit"]</button></td>
                </tr>
            }
        }
    </tbody>
</table>
<div>
    @{
        for(int i = 0;i < pageCount;i++)
        {
            <button>
                <a href="?pageIndex=@i&pageSize=@pageSize">@(i + 1)</a>
            </button>
        }
    }
</div>

<script>
    const body = { newName: "int" };
    function changeName() {
        console.log("trigger")
        fetch("/api/admin/config/changeName", {
            method:'Post',
            headers: {
                'Content-Type':'application/json'
            },
            body: JSON.stringify(body)
        })
            .then(res => console.log(res))
    }
</script>