@using SocialEmpires.Models.PlayerSaves;
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Text
@using SocialEmpires.Utils
@using static SocialEmpires.Controllers.ManagerController
@inject IViewLocalizer localizer
@{
    Layout = "_ManagerLayout";
    ViewData["Title"] = localizer["Playerplayer.Save"];
    var pageIndex = (int)ViewData["PageIndex"]!;
    var pageSize = (int)ViewData["PageSize"]!;
    var pageCount = (int)ViewData["PageCount"]!;
    var pageData = ViewData["PageData"] as IEnumerable<Player>;
}

<div>
    <table style="width:100%;" class="table table-striped">
        <thead>
            <tr>
                <th>Player</th>
                <th>@localizer["Id"]</th>
                <th>@localizer["Resources"]</th>
                <th>@localizer["Tutorial"]</th>
                <th>@localizer["Map Size"]</th>
                <th>@localizer["Last Login"]</th>
                <th>@localizer["Items"]</th>
                <th>@localizer["Operation"]</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var player in pageData)
                {
                    <tr>
                        <td>[@player.Save.DefaultMap.Level] @player.Save.PlayerInfo.MapNames.First()</td>
                        <td><p style="font-size:12px;">@player.Save.Pid</p></td>
                        <td>c:@player.Save.PlayerInfo.Cash g:@player.Save.DefaultMap.Coins s:@player.Save.DefaultMap.Stone w:@player.Save.DefaultMap.Wood f:@player.Save.DefaultMap.Food</td>
                        <td>@(player.Save.PlayerInfo.CompletedTutorial == 1 ? localizer["Completed"] : "---")</td>
                        <td>@player.Save.DefaultMap.Expansions.Count()</td>
                        <td>@DateTimeOffset.FromUnixTimeSeconds(player.Save.PlayerInfo.LastLoggedIn).ToString("g")</td>
                        <td>@player.UnitSummary</td>
                        <td>
                            <button>
                                <a asp-action="EmpireMap" asp-route-playerId="@player.Save.Pid">Map</a>
                            </button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item @(pageIndex <= 1?"disabled":"")">
                <a class="page-link" href="?pageIndex=@(pageIndex - 1)&pageSize=@pageSize" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @{
                var indexes = PageIndexesHelper.CalculatePageIndexes(pageIndex, pageCount, 11);
                foreach (var index in indexes)
                {
                    <li class="page-item">
                        <a class="page-link" href="?pageIndex=@(index)&pageSize=@pageSize">@(index)</a>
                    </li>
                }
            }
            <li class="page-item @(pageIndex >= pageCount?"disabled":"")">
                <a class="page-link" href="?pageIndex=@(pageIndex + 1)&pageSize=@pageSize" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<script>
</script>