@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = localizer["Login"];
}

<div style="max-width:400px;margin:auto;">
    <form action="api/sendLoginTokenEmail" method="post">
        <label>@localizer["EmailAddress"]</label>
        <div class="input-group">
            <input type="email" class="form-control" name="email" value="@TempData["Email"]" />
            <button id="SendEmailButton" class="btn btn-primary" type="submit" disabled>@localizer["SendAuthCode"]</button>
        </div>
    </form>
    <form action="api/loginByEmailAndToken" method="post">
        <div class="form-group" style="display:none">
            <label>@localizer["EmailAddress"]</label>
            <input type="email" class="form-control" name="email" value="@TempData["Email"]" />
        </div>
        <div class="form-group">
            <label>@localizer["AuthCode"]</label>
            <input type="text" class="form-control" name="token" value="@TempData["Token"]" />
        </div>
        <div class="form-group">
            @if (TempData["ErrorMessage"] != null)
            {
                <p>@localizer[TempData["ErrorMessage"]?.ToString()!]</p>
            }
        </div>
        <div style="display:flex;justify-content:space-between;margin-top:10px;text-align:center;">
            <div>
                <input class="form-check-input" type="checkbox" value="" name="rememberMe" checked>
                <label class="form-check-label" for="flexCheckChecked">@localizer["RememberMe"]</label>
            </div>
            <a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="/Login">@localizer["LoginWithPassword"]</a>
        </div>
        <button type="submit" class="btn btn-primary" style="width:100%;margin-top:10px;">@localizer["Login"]</button>
    </form>
    <div style="text-align:right;margin-top:10px">
        <a class="link-underline-light" href="/Register">@localizer["RegisterNow"]</a>
    </div>
    <script>
        var button = document.getElementById("SendEmailButton");

        if (@(TempData["SendingInterval"] ?? "null") == null) {
            button.textContent = "@localizer["SendAuthCode"]";
            button.disabled = false;
        } else {
            function countdown() {
                if (countdownValue > 0) {
                    countdownValue--;
                    button.textContent = "Wait " + countdownValue + "s";
                }
                else {
                    button.disabled = false;
                    button.textContent = "Send";
                    clearInterval(timer);
                }
            }
            var countdownValue = @(TempData["SendingInterval"] ?? 0);
            var timer = setInterval(countdown, 1000);
        }
    </script>
</div>
